archived/target/
archived/dist/
archived/project/boot/
archived/project/plugins/project/
archived/project/plugins/src_managed/
archived/project/project/target/**
*.class
*.cache
*.log
*.tmproj
lib_managed/
*.swp
*.iml
.idea/
.idea/*
.DS_Store
.ensime
.ivyjars
out/
archived/sbt-launch.jar
archived/example/*.class
