h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif; }

hr {
  width: 100%;
  border: 0;
  border-bottom: solid 1px #eeeeee;
  margin: 5px 0; }

html, body {
  overflow: hidden;
  font-size: 10pt; }

a {
  cursor: pointer; }

.alert {
    padding: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    border-radius: 0;
}
.btn {
  border-radius: 3px;
  margin-bottom: 5px; }

.black {
  color: black; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.mono {
  font-family: "Inconsolata", monospace; }

.rating.poor {
  color: #bb0000; }

.rating.perfect {
  color: #009900; }

.rating.neutral {
  color: #b57924; }

.rating.almost {
  color: #7f9100; }

.navbar {
  position: relative; }
  .navbar .title {
    font-family: "Lobster", sans-serif;
    padding-left: 6px;
    font-size: 18pt;
    padding-right: 8px; }
  .navbar .settings {
    cursor: pointer;
    position: absolute;
    right: 10pt;
    top: 9pt;
    font-size: 18pt;
    color: white;
    opacity: 0.3; }
  .navbar .settings:hover {
    opacity: 0.5; }

.left-panel, .right-panel {
  padding: 5px;
  width: 49%; }

.left-panel {
  float: left;
  margin-right: 1%; }

.left-panel.divider {
  border-right: solid 1px #dddddd; }

.right-panel {
  margin-left: 1%;
  float: right; }

.header {
  margin-bottom: 20px; }
  .header .title {
    margin-bottom: 0; }
  .header .subtitle {
    opacity: 0.5;
    padding-left: 2px; }

body {
  position: relative; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  color: #666666;
  overflow: scroll; }
  .popup .background {
    background: black;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%; }
  .popup .content {
    width: 900px;
    border: solid 1px #d2d5d9;
    margin: 20px auto 100px auto;
    padding: 10px;
    position: relative;
    background: white; }
  .popup h1, .popup h2, .popup h3, .popup h4, .popup h5, .popup h6 {
    color: #333333; }
  .popup .difference {
    color: black;
    background-color: #ffbb99;
    padding: 2px 3px; }

.tree-field {
  padding: 2px; }
  .tree-field .children {
    margin: 4px 0 0 10px;
    border-left: solid 1px #dddddd;
    padding-left: 5px; }

.highlighted {
  box-shadow: inset 0 0 2px #888888;
  background: #ebf0f5; }

.highlighted:hover {
  border: #678bad; }

.popup.settings .server {
  margin-left: 10px; }
.popup.settings .stats {
  font-family: "Inconsolata", monospace; }
.popup.settings hr {
  margin: 20px 0; }

.popup.request .responses, .popup.request .request {
  font-family: "Inconsolata", monospace; }
.popup.request .request {
  padding: 5px;
  overflow-x: scroll; }
.popup.request .time {
  position: absolute;
  text-align: right;
  right: 12px;
  top: 20px; }
.popup.request .responses .request {
  overflow-x: scroll;
  padding: 5px; }
.popup.request .responses .left, .popup.request .responses .right {
  width: 49%; }
.popup.request .responses .left {
  float: left;
  margin-right: 1%; }
.popup.request .responses .right {
  margin-left: 1%;
  float: right; }

.endpoints-column {
  background: #2b3e50;
  color: #eeeeee;
  border-right: solid 1px #d2d5d9; }
  .endpoints-column .dashboard-links a {
    display: inline-block;
    text-align: center;
    color: #678bad;
    background: #19242f;
    padding: 5px; }
  .endpoints-column .row {
    display: block;
    padding: 6px 8px;
    margin-bottom: 0;
    color: #bbbbbb;
    font-size: 10pt;
    position: relative;
    text-decoration: none;
    border-top: solid 1px #3d5871; }
  .endpoints-column .row.last {
    border-bottom: solid 1px #3d5871; }
  .endpoints-column .row.info {
    color: #88a4bf;
    background: #364d64;
    padding: 10px 8px;
    margin-bottom: 20px;
    font-size: 0.9em; }
  .endpoints-column .row.endpoint {
    cursor: pointer; }
    .endpoints-column .row.endpoint .title .name {
      color: white; }
    .endpoints-column .row.endpoint .title .failing {
      font-family: "Roboto Condensed", sans-serif;
      text-align: right;
      position: absolute;
      right: 7px;
      top: 6px;
      display: box; }
      .endpoints-column .row.endpoint .title .failing .number {
        font-size: 13pt; }
      .endpoints-column .row.endpoint .title .failing .label {
        padding: 0;
        color: #4f7192;
        font-size: 8pt; }
    .endpoints-column .row.endpoint .subtitle {
      color: #888888; }
  .endpoints-column .row.endpoint:hover:not(.btn-primary) {
    background: #22313f; }
  .endpoints-column .row.endpoint.btn-primary {
    color: white; }
    .endpoints-column .row.endpoint.btn-primary .failing .number {
      color: #f9decc; }
    .endpoints-column .row.endpoint.btn-primary .failing .label {
      color: #f9decc; }
    .endpoints-column .row.endpoint.btn-primary .subtitle {
      color: #f4c19e; }

.endpoints-column, .fields-column, .requests-column {
  position: relative;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden; }

.fields-column, .requests-column {
  color: #333333; }

.fields-column {
  padding-bottom: 40px;
  background: #d2d5d9; }
  .fields-column hr {
    margin: 20px 0;
    border-bottom: 1px solid #b6bbc2; }
  .fields-column .subtle {
    font-weight: bold;
    color: #999999; }
  .fields-column .noshow {
    padding: 20px 10px; }
  .fields-column .header {
    z-index: 1;
    background: #d2d5d9;
    position: fixed;
    width: inherit;
    margin: -15px;
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid #b6bbc2; }
    .fields-column .header .title {
      float: left; }
    .fields-column .header .stats {
      font-family: "Roboto Condensed", sans-serif;
      background: #d2d5d9;
      position: absolute;
      right: 10px;
      box-shadow: 0 0 5px 5px #d2d5d9;
      margin-top: 8px;
      padding-left: 0;
      text-align: right; }
      .fields-column .header .stats li {
        display: inline;
        float: left;
        margin-left: 20px; }
      .fields-column .header .stats li:first {
        margin-left: 5px; }
      .fields-column .header .stats .percent {
        font-size: 16pt;
        margin: 5px 0 -5px 0; }
      .fields-column .header .stats .description {
        font-size: 8pt;
        color: #999999; }
      .fields-column .header .stats .subtle {
        color: #999999; }
  .fields-column .fields-container {
    margin-top: 70px; }
    .fields-column .fields-container a {
      color: #444444;
      text-decoration: none; }
    .fields-column .fields-container .field.terminal .title {
      padding-left: 0; }
    .fields-column .fields-container .field.terminal .name {
      color: #990000; }
    .fields-column .fields-container .field.terminal .subtle {
      color: #999999; }
    .fields-column .fields-container .field.terminal .details {
      font-size: 9pt;
      margin-top: -3px;
      color: #777777; }
      .fields-column .fields-container .field.terminal .details .value {
        font-weight: bold; }
    .fields-column .fields-container .field.excluded a, .fields-column .fields-container .field.excluded .name, .fields-column .fields-container .field.excluded .details, .fields-column .fields-container .field.excluded .rating {
      color: #a1a1a1; }
    .fields-column .fields-container .field.excluded .details {
      color: #999999; }
    .fields-column .fields-container .field.excluded .toggle {
      color: #999999; }
    .fields-column .fields-container .field .toggle {
      float: right;
      cursor: pointer;
      height: 20px;
      width: 20px;
      color: #333333; }
      .fields-column .fields-container .field .toggle i {
        margin: 3px 0 0 2px;
        padding: 0px 0 0 2px; }
    .fields-column .fields-container .field .toggle:hover {
      background: #cacdd2; }
    .fields-column .fields-container .field .action.nohover:hover {
      background: none; }
    .fields-column .fields-container .field .action {
      float: left;
      width: 18px;
      height: 20px;
      display: block; }
      .fields-column .fields-container .field .action .arrow {
        padding: 4px 0 0 6px; }
      .fields-column .fields-container .field .action .checkbox {
        margin: 4px 0 0 3px; }
    .fields-column .fields-container .field .title.selected, .fields-column .fields-container .field .title.selected:hover {
      background: #e0e2e5; }
    .fields-column .fields-container .field .title {
      cursor: pointer;
      padding: 1px 0 0 20px;
      display: block; }
    .fields-column .fields-container .field .title:hover {
      background: #cacdd2; }
    .fields-column .fields-container .field .action:hover {
      background: #bcc0c6; }
    .fields-column .fields-container .field .badge {
      margin-left: 5px;
      background: #c4c8cd;
      position: absolute;
      font-size: 9pt;
      color: #2b3e50; }
    .fields-column .fields-container .name {
      font-family: "Inconsolata", monospace;
      margin-bottom: 2px;
      font-size: 10pt; }
    .fields-column .fields-container .children {
      margin-left: 15px; }

.requests-column {
  padding-top: 10px;
  background: #eeeeee; }
  .requests-column ins {
    color: #009900; }
  .requests-column del {
    color: #990000; }
  .requests-column strong {
    color: #678bad;
    font-weight: normal;
    text-decoration: underline; }
  .requests-column .pairpair .pair {
    float: left;
    width: 50%; }
    .requests-column .pairpair .pair dt {
      width: 26%; }
    .requests-column .pairpair .pair dd {
      width: 74%; }
  .requests-column .pair {
    padding: 4px; }
  .requests-column .pair.expected, .requests-column .pair.actual {
    background: #f9f9f9; }
  .requests-column .pair:hover dt {
    color: #9ba1aa; }
  .requests-column .pair:hover dd {
    color: #333333; }
  .requests-column .show-more {
    margin-top: 3px;
    padding: 5px;
    display: block;
    text-align: center;
    color: #999999; }
  .requests-column .show-more:hover {
    background: #eeeeee;
    color: black; }
  .requests-column dt {
    font-family: "Roboto Condensed", sans-serif;
    width: 13%;
    float: left;
    font-size: 9pt;
    text-transform: uppercase;
    padding-top: 1pt;
    font-weight: normal;
    color: #b6bbc2; }
  .requests-column dd {
    font-family: "Inconsolata", monospace;
    float: left;
    word-wrap: break-word;
    width: 87%;
    color: #666666; }
  .requests-column .field, .requests-column .field:hover {
    background: #ebf0f5; }
    .requests-column .field dt, .requests-column .field:hover dt {
      color: #7f8893; }
  .requests-column .open {
    position: absolute;
    right: 15px;
    top: 15px; }
  .requests-column .difference .path-item .separator {
    color: #cccccc; }
  .requests-column .difference .path-item:last-child {
    color: #678bad; }
    .requests-column .difference .path-item:last-child .separator {
      display: none; }
  .requests-column .request {
    position: relative;
    margin-top: 10px;
    padding: 10px 10px;
    background: white;
    border: solid 1px #888888;
    border-top-color: #dddddd;
    border-left-color: #dddddd; }

.checkbox-iphone {
  position: relative;
  margin-top: 5px;
  line-height: 30px; }
  .checkbox-iphone input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    margin: 0 0;
    cursor: pointer;
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
    .checkbox-iphone input + span {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-right: 60px; }
      .checkbox-iphone input + span:before {
        position: absolute;
        right: 0px;
        display: inline-block;
        content: "";
        height: 30px;
        width: 60px;
        border-radius: 30px;
        line-height: 30px;
        background: rgba(100, 100, 100, 0.2);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
        transition: background 0.2s ease-out; }
      .checkbox-iphone input + span:after {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        margin-right: 30px;
        border-radius: 30px;
        line-height: 30px;
        display: block;
        background: white;
        transition: margin-right 0.1s ease-in-out;
        text-align: center;
        font-weight: bold;
        content: "";
        border: solid transparent 2px;
        background-clip: padding-box;
        vertical-align: middle; }
  .checkbox-iphone input:checked + span:before {
    transition: background 0.2s ease-in;
    background: #df691a; }
  .checkbox-iphone input:checked + span:after {
    margin-right: 0;
    content: "";
    border: solid transparent 2px;
    background-clip: padding-box;
    -webkit-animation: popIn ease-in 0.3s normal;
    animation: popIn ease-in 0.3s normal; }
  .checkbox-iphone input:not(:checked) + span:after {
    -webkit-animation: popOut ease-in 0.3s normal;
    animation: popOut ease-in 0.3s normal; }
  .checkbox-iphone input:disabled + span {
    color: #777777; }
    .checkbox-iphone input:disabled + span:after {
      border: solid transparent 2px;
      border-radius: 40px; }
    .checkbox-iphone input:disabled + span:before {
      box-shadow: 0 0 0 black; }
